
  @import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@300&display=swap');


.nav-item{
  padding-left: 20px;
  
}
.nav-link{
  color:black;
  font-size: 15px;
  font-weight: 500;
  
}

.nav-link:hover{
  color:#EE4E34;
}





/*  */
.navbar{
  padding-top: 15px;
  padding-bottom: 15px;
}

/* header css ends here */





.btn-styles{

    background-color: #EE4E34;
  border: none;
  color: white;
  padding: 10px 30px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
    
}

.blog-card{

border-radius: 15px;
}


.primary-font{
  font-family: 'Exo 2', sans-serif;
}

.secondary-font{
  font-family: 'Alegreya Sans', sans-serif;
}



/* footer css starts here */


.hover-items{
  color: white;
  font-size: 15px;
  font-weight: 500;
}

.hover-items:hover{
  color: rgb(222, 255, 4);
  text-decoration: none;
}
/* footer css ends here */